{
        "comment": "Configuration for the systemd NAT64 Jool service.",

        "instance": "init",
        "framework": "netfilter",

        "global": {
                "pool6": "{{ pool6 }}",
                "lowest-ipv6-mtu": "{{ lowest-ipv6-mtu }}"
        }
}